@using PagedList.Mvc
@using webNews.Domain.Entities
@model PagedList.IPagedList<Vw_News>
@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var content = ViewBag.Content as Vw_Content;
}


<!-- Content page -->
<section class="content-detail bgwhite p-b-65">
    <div class="container">
        <div class="bread-crumb bgwhite flex-w p-r-15 p-b-15 p-l-15-sm">
            <a href="@Url.Action("Index", "Home")" clas class="s-text13">
                Trang chủ
                <i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
            </a>
            <a href="@Url.Action("Index", "News")" clas class="s-text13">
                Tin tức
            </a>
        </div>
        <!-- Title Page -->
        <section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url(@content.Url);">
            <h2 class="l-text2 t-center"></h2>
            <p class="m-text13 t-center">
                @content.Title
            </p>
        </section>
        <!-- Product -->
        <div class="row" style="margin-top: 20px">
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <div class="col-sm-12 col-md-12 col-lg-12 p-b-5" style="padding-left: 0 !important;padding-right: 0 !important">
                        <!-- Block2 -->
                        <div class="block2">
                            <div class="col-sm-12 col-md-6 col-lg-4 p-b-20">
                                <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew" data-id="@item.Id">
                                    <a href="@Url.Action("NewsDetail", "News", new {@news_short_name = item.ShortName})" class="block2-name dis-block s-text3 p-b-5">
                                        <img data-src="@item.Image" alt="@item.ShortName" class="lazy-loading">
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-8 p-b-20" style="min-height: 100px">
                                <div class="block2-txt p-t-0">
                                    <a href="@Url.Action("NewsDetail", "News", new {@news_short_name = item.ShortName})" class="block2-name dis-block p-b-5 font-weight-bold new-title">
                                        @item.Title
                                    </a>
                                    @if (!string.IsNullOrEmpty(item.Description))
                                    {
                                        @Html.Raw(item.Description)
                                    }
                                </div>
                                <div class="s-text8 flex-w flex-m p-b-21">
                                    <span style="position: absolute; left: 0;bottom: 0">
                                        @item.CreatedDate
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <h5>Không có tin tức nào</h5>
                </div>
            }

        </div>

        <!-- Pagination -->
        <div style="float: right">
            @Html.PagedListPager(Model, page => Url.Action("News", new { page }))
        </div>
    </div>
</section>