@using System.Web.Configuration
@model webNews.Domain.Entities.Vw_Customer
@{
    string fb_link = WebConfigurationManager.AppSettings["fb_link"];
    string instagram_link = WebConfigurationManager.AppSettings["instagram_link"];
    string youtube_link = WebConfigurationManager.AppSettings["youtube_link"];
}
<footer class="bg6 p-t-10 p-b-43 p-l-45 p-r-45">
    <div class="flex-w p-b-50">
        <div class="w-size8 p-l-15 p-r-15 respon4">
            <div>
                <a href="#" class="logo_footer">
                    <img src="~/Theme/front-end/images/icons/logo.png" alt="IMG-LOGO">
                </a>
            </div>
            <div>
                <p class="s-text7 w-size27">
                    <span style="font-weight: bold">Địa chỉ: </span> @Model.Address
                </p>
                <p class="s-text7 w-size27">
                    <span style="font-weight: bold">Phone: </span> @Model.Phone
                </p>
                <p class="s-text7 w-size27">
                    <span style="font-weight: bold">Email: </span> @Model.Email
                </p>

                <div class="flex-m p-t-30">
                    <a href="@fb_link" target="_blank" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
                    <a href="@instagram_link" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
                    <a href="@youtube_link" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
                </div>
            </div>
        </div>

        <div class="w-size15 p-t-30 p-l-15 p-r-15 respon4">
            <h4 class="s-text12 p-b-30">
                Dành cho người thuê
            </h4>

            <ul>
                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Bảo vệ người thuê
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Quy định đối với người thuê
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Giải quyết khiếu nại
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Hướng dẫn người thuê
                    </a>
                </li>
            </ul>
        </div>

        <div class="w-size15 p-t-30 p-l-15 p-r-15 respon4">
            <h4 class="s-text12 p-b-30">
                Chăm sóc khách hàng
            </h4>

            <ul>
                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Chính sách bảo mật thanh toán
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Chính sách giao hàng
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Chính sách đổi trả
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Chính sách bảo hành
                    </a>
                </li>
            </ul>
        </div>
        <div class="w-size15 p-t-30 p-l-15 p-r-15 respon4">
            @*<div class="fb-like" data-href="@Model.Facebook" data-width="" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>*@
            <div class="fb-page"
                 data-href="@Model.Facebook"
                 data-tabs=""
                 data-width=""
                 data-height=""
                 data-small-header="false"
                 data-adapt-container-width="true"
                 data-hide-cover="false"
                 data-show-facepile="true">
                <blockquote cite="@Model.Facebook"
                            class="fb-xfbml-parse-ignore">
                    <a href="@Model.Facebook">Thuê Đồ Chơi Tốt</a>
                </blockquote>
            </div>
        </div>
    </div>
</footer>
