@using System.Web.Configuration
@using webNews.Common
@using webNews.Domain
@{
    string fb_link = WebConfigurationManager.AppSettings["fb_link"];
    string instagram_link = WebConfigurationManager.AppSettings["instagram_link"];
    string youtube_link = WebConfigurationManager.AppSettings["youtube_link"];
    var listMenu = ServiceFactory.SystemRepository.GetMenuFE();
    var route = ViewContext.RouteData;
    var controller = route.Values["Controller"].ToString();
    var action = route.Values["Action"].ToString();
    var qty = Session["QuantitySession"] != null ? (int)Session["QuantitySession"] : 0;
}
<style>
    ol, ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .account_desc li {
        display: inline;
        border-left: 1px dotted #CCC;
    }

        .account_desc li:first-child {
            border: none;
        }

    .account_desc li {
        display: inline;
        border-left: 1px dotted #CCC;
    }

    .btn-facebook {
        font-size: 1em;
    }
</style>
<header class="header2">
    <!-- Header desktop -->
    <div class="container-menu-header-v2">
        <div class="topbar2">
            <div class="topbar-social">
                <a href="@fb_link" class="topbar-social-item fa fa-facebook"></a>
                <a href="@instagram_link" class="topbar-social-item fa fa-instagram"></a>
                <a href="@youtube_link" class="topbar-social-item fa fa-youtube-play"></a>
            </div>

            <!-- Logo2 -->
            <a href="@Url.Action("Index","Home")" class="logo2">
                <img src="~/Theme/front-end/images/icons/logo.png" alt="@ViewBag.Title">
            </a>

            <div class="topbar-child2">
                <div class="account_desc">
                    @{
                        var session = (UserLogin)Session[Common.CommonConstants.USER_SESSION];
                    }
                    @if (session != null)
                    {
                        <ul>
                            <li>Chào @session.UserName</li>
                            <li>@Html.ActionLink("Thoát", "Logout", "User")</li>
                        </ul>
                    }
                    else
                    {
                        <ul>
                            <li>
                                <a href="@Url.Action("Login","User")" class="btn btn-default">Đăng nhập</a>
                            </li>
                        </ul>
                    }

                </div>
                <span class="linedivide1"></span>
                <div class="header-wrapicon2 m-r-13">
                    <a href="@Url.Action("Index", "Cart")">
                        <img src="~/Theme/front-end/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
                    </a>
                    <span class="header-icons-noti">@qty</span>
                </div>
            </div>
        </div>
        <div class="wrap_header">
            <!-- Menu -->
            <div class="wrap_menu">
                <nav class="menu">
                    <ul class="main_menu">
                        @foreach (var item in listMenu)
                        {
                            <li class="@(controller == item.Controller && (action == item.Action || action == item.ChildAction) ? "sale-noti" : "")">
                                <a href="@Url.Action(item.Action,item.Controller)">@item.Name</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>

            <!-- Header Icon -->
            <div class="header-icons">

            </div>
        </div>
    </div>

    <!-- Header Mobile -->
    <div class="wrap_header_mobile">
        <!-- Logo moblie -->
        <a href="@Url.Action("Index","Home")" class="logo-mobile">
            <img src="~/Theme/front-end/images/icons/logo.png" alt="@ViewBag.Title">
        </a>

        <!-- Button show menu -->
        <div class="btn-show-menu">
            <!-- Header Icon mobile -->
            <div class="header-icons-mobile">
                <a href="@Url.Action("Index", "Cart")" class="header-wrapicon1 dis-block">
                    <img src="~/Theme/front-end/images/icons/icon-header-01.png" class="header-icon1" alt="@ViewBag.Title">
                </a>

                <span class="linedivide2"></span>

                <div class="header-wrapicon2">
                    <img src="~/Theme/front-end/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="@ViewBag.Title">
                    <span class="header-icons-noti">@qty</span>

                    <!-- Header cart noti -->
                    <div class="header-cart header-dropdown">

                    </div>
                </div>
            </div>

            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>
    </div>

    <!-- Menu Mobile -->
    <div class="wrap-side-menu">
        <nav class="side-menu">
            <ul class="main-menu">
                <li class="item-topbar-mobile p-l-10">
                    <div class="topbar-social-mobile">
                        <a href="@fb_link" class="topbar-social-item fa fa-facebook"></a>
                        <a href="@instagram_link" class="topbar-social-item fa fa-instagram"></a>
                        <a href="@youtube_link" class="topbar-social-item fa fa-youtube-play"></a>
                    </div>
                </li>
                @foreach (var item in listMenu)
                {
                    <li class="item-menu-mobile @(controller == item.Controller && (action == item.Action || action == item.ChildAction) ? "sale-noti" : "")">
                        <a href="@Url.Action(item.Action,item.Controller)">@item.Name</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</header>
<div class="wrap_header fixed-header2 trans-0-4">
    <!-- Logo -->
    <a href="#" class="logo">
        <img src="~/Theme/front-end/images/icons/logo.png" alt="@ViewBag.Title">
    </a>
    <!-- Menu -->
    <div class="wrap_menu_2">
        <nav class="menu">
            <ul class="main_menu">
                @foreach (var item in listMenu)
                {
                    <li class="@(controller == item.Controller && (action == item.Action || action == item.ChildAction) ? "sale-noti" : "")">
                        <a href="@Url.Action(item.Action,item.Controller)">@item.Name</a>
                    </li>
                }
            </ul>
        </nav>
    </div>

    <div class="header-icons">
        <a href="#" class="header-wrapicon1 dis-block">
            <img src="~/Theme/front-end/images/icons/logo.png" alt="@ViewBag.Title">
        </a>

        <span class="linedivide1"></span>

        <div class="header-wrapicon2">
            <a href="@Url.Action("Index", "Cart")">
                <img src="~/Theme/front-end/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
                <span class="header-icons-noti">@qty</span>
            </a>

            <!-- Header cart noti -->
            <div class="header-cart header-dropdown">
            </div>
        </div>
    </div>
</div>