<div class="wrap_header fixed-header2 trans-0-4">
    <!-- Logo -->
    <a href="#" class="logo">
        <img src="~/Theme/front-end/images/icons/logo.png" alt="@ViewBag.Title">
    </a>
    <!-- Menu -->
    <div class="wrap_menu_2">
        <nav class="menu">
            <ul class="main_menu">
                @{
                    var route = ViewContext.RouteData;
                }
                <li class="@(route.Values["Controller"].ToString() == "Home" && route.Values["Action"].ToString() == "Index" ? "sale-noti" : "")">
                    <a href="@Url.Action("Index", "Home")">Trang chủ</a>
                </li>

                <li class="@(route.Values["Controller"].ToString() == "Home" && route.Values["Action"].ToString() == "About" ? "sale-noti" : "")">
                    <a href="@Url.Action("About", "Home")">Giới thiệu</a>
                </li>

                <li class="@(route.Values["Controller"].ToString() == "Category" && (route.Values["Action"].ToString() == "Index"
                                                                                     || route.Values["Action"].ToString() == "Search" || route.Values["Action"].ToString() == "Detail") ? "sale-noti" : "")">
                    <a href="@Url.Action("Index", "Category")">Sản phẩm thuê</a>
                </li>

                <li class="@(route.Values["Controller"].ToString() == "Category" && route.Values["Action"].ToString() == "Sale" ? "sale-noti" : "")">
                    <a href="@Url.Action("Sale", "Category")">Sản phẩm bán</a>
                </li>

                <li class="@(route.Values["Controller"].ToString() == "News" && (route.Values["Action"].ToString() == "Index"
                                                                                 || route.Values["Action"].ToString() == "Detail") ? "sale-noti" : "")">
                    <a href="@Url.Action("Index", "News")">Gói sự kiện</a>
                </li>

                <li class="@(route.Values["Controller"].ToString() == "Home" && route.Values["Action"].ToString() == "ForCustomer" ? "sale-noti" : "")">
                    <a href="@Url.Action("ForCustomer", "Home")">Dành cho khách hàng</a>
                </li>

                <li class="@(route.Values["Controller"].ToString() == "News" && (route.Values["Action"].ToString() == "News"
                                || route.Values["Action"].ToString() == "NewsDetail") ? "sale-noti" : "")">
                    <a href="@Url.Action("News", "News")">Tin tức</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Header Icon -->
    @*<div class="header-icons">
        <a href="#" class="header-wrapicon1 dis-block">
            <img src="~/Theme/front-end/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
        </a>

        <span class="linedivide1"></span>

        <div class="header-wrapicon2">
            <img src="~/Theme/front-end/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
            <span class="header-icons-noti">0</span>

            <!-- Header cart noti -->
            <div class="header-cart header-dropdown">
                <ul class="header-cart-wrapitem">
                    <li class="header-cart-item">
                        <div class="header-cart-item-img">
                            <img src="~/Theme/front-end/images/item-cart-01.jpg" alt="IMG">
                        </div>

                        <div class="header-cart-item-txt">
                            <a href="#" class="header-cart-item-name">
                                White Shirt With Pleat Detail Back
                            </a>

                            <span class="header-cart-item-info">
                                1 x $19.00
                            </span>
                        </div>
                    </li>

                    <li class="header-cart-item">
                        <div class="header-cart-item-img">
                            <img src="~/Theme/front-end/images/item-cart-02.jpg" alt="IMG">
                        </div>

                        <div class="header-cart-item-txt">
                            <a href="#" class="header-cart-item-name">
                                Converse All Star Hi Black Canvas
                            </a>

                            <span class="header-cart-item-info">
                                1 x $39.00
                            </span>
                        </div>
                    </li>

                    <li class="header-cart-item">
                        <div class="header-cart-item-img">
                            <img src="~/Theme/front-end/images/item-cart-03.jpg" alt="IMG">
                        </div>

                        <div class="header-cart-item-txt">
                            <a href="#" class="header-cart-item-name">
                                Nixon Porter Leather Watch In Tan
                            </a>

                            <span class="header-cart-item-info">
                                1 x $17.00
                            </span>
                        </div>
                    </li>
                </ul>

                <div class="header-cart-total">
                    Total: $75.00
                </div>

                <div class="header-cart-buttons">
                    <div class="header-cart-wrapbtn">
                        <!-- Button -->
                        <a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                            View Cart
                        </a>
                    </div>

                    <div class="header-cart-wrapbtn">
                        <!-- Button -->
                        <a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                            Check Out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div>