@using webNews.Language.Language
@using webNews.HtmlHelpers
@{
    var add = Model.Action == "Add";
    var view = Model.Action == "View";
    var edit = Model.Action == "Edit";
    var popupTitle = Model.Action == "Add" ? "Thêm mới" : "Sửa";
    var hiddenStatus = Model.Action == "Add" ? "hidden" : "";
}
@model EnglishCenter.Models.UserManagement.UserModel
<script src="~/Assets/Admin/Validate/jquery.validate.min.js"></script>
<script src="~/Assets/Admin/Validate/jquery.validate.unobtrusive.min.js"></script>
<div class="modal fade" id="modalDetails" tabindex="-1" role="dialog" aria-labelledby="xModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@popupTitle</h4>
            </div>
            <div class="modal-body clearfix">
                <form id="formDetail" name="formDetail" class="form-horizontal" enctype="multipart/form-data" method="post" accept-charset="utf-8">
                    @Html.HiddenFor(x=>x.UserId, new { @class = "form-control", @id = "txtUserId" })
                    <div class="form-group">
                        <label class="col-xs-2 control-label">@Html.LabelFor(x => x.UserRole)</label>
                        <div class="col-xs-4">
                            @Html.ValidationHtmlMessageFor(model => model.UserRole, "", new {@class = "field-validation-valid"})
                            @Html.DropDownListFor(x => x.UserRole, new SelectList(Model.ListRole, "Value", "Text"), new {@class = "form-control input-sm", @id = "txtUserRole"})
                        </div>
                        <label class="col-xs-2 control-label">@Html.LabelFor(x => x.FullName)</label>
                        <div class="col-xs-4">
                            @Html.ValidationHtmlMessageFor(model => model.FullName, "", new {@class = "field-validation-valid"})
                            @Html.TextBoxFor(x => x.FullName, new {@class = "form-control input-sm", @id = "txtFullName"})
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">@Html.LabelFor(x => x.UserName)</label>
                        <div class="col-xs-4">
                            @Html.ValidationHtmlMessageFor(model => model.UserName, "", new {@class = "field-validation-valid"})
                            @Html.TextBoxFor(x => x.UserName, new {@class = "form-control input-sm", @id = "txtUserName", @autocomplete = "off"})
                        </div>
                        <label class="col-xs-2 control-label">@Html.LabelFor(x => x.Tel)</label>
                        <div class="col-xs-4">
                            @Html.ValidationHtmlMessageFor(model => model.Tel, "", new { @class = "field-validation-valid" })
                            @Html.TextBoxFor(x => x.Tel, new { @class = "form-control input-sm", @id = "txtTel" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">@Html.LabelFor(x => x.Email)</label>
                        <div class="col-xs-4">
                            @Html.ValidationHtmlMessageFor(model => model.Email, "", new {@class = "field-validation-valid"})
                            @Html.TextBoxFor(x => x.Email, new {@class = "form-control input-sm", @id = "txtEmail"})
                        </div>
                        <label class="col-xs-2 control-label">@Html.LabelFor(x => x.Active)</label>
                        <div class="col-xs-4">
                            @Html.ValidationHtmlMessageFor(model => model.Active, "", new { @class = "field-validation-valid" })
                            @Html.DropDownListFor(x => x.Status, new SelectList(Model.ListStatus, "Value", "Text"), new { @class = "form-control input-sm", @id = "txtStatus" })
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                @if (!view)
                {
                    if (add)
                    {
                        <button id="btnAdd" class="btn btn-primary" type="button"><i class="fa fa-check"></i> @(Resource.Btn_Save_Lang)</button>
                    }
                    if (edit)
                    {
                        <button id="btnEdit" class="btn btn-primary" type="button"><i class="fa fa-check"></i> @(Resource.Btn_Edit_Lang)</button>
                    }

                }
                <button type="button" class="btn btn-df" data-dismiss="modal"><i class="fa fa-reply"></i>@Resource.Btn_Close_Lang</button>
            </div>
        </div>
    </div>
</div>