@using webNews.Language.Language
@using webNews.Security
@{
    ViewBag.Title = "Quản lý người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

@section Scripts
{
    <script src="~/Assets/Admin/jquery.serialize-object.js"></script>
    <script src="~/Scripts/Admin/UserManagement/UserManager.js"></script>

}

<h2 class="page-header">
     QUẢN LÝ NGƯỜI DÙNG
</h2>

<div class="">
    <div class="main-content">
        <div class="page-action">
            @if(CheckAuthorizer.Authorize(Permission.ADD))
            {
                <button id="btnOpenAdd" class="btn btn-primary" type="button" title="@(Resource.Btn_Add_Lang)"><i class="fa fa-plus-square-o"></i>@(Resource.Btn_Add_Lang)</button>
            }
            <button id="btnOpenSearch" class="btn btn-primary" type="button" title="@(Resource.Btn_Search)"><i class="fa fa-search"></i>@(Resource.Btn_Search)</button>
            <input type="hidden" id="txtPerAdd" value="@(CheckAuthorizer.Authorize(Permission.ADD) ? 1 : 0)" />
            <input type="hidden" id="txtPerEdit" value="@(CheckAuthorizer.Authorize(Permission.EDIT) ?1:0)" />
            <input type="hidden" id="txtPerDelete" value="@(CheckAuthorizer.Authorize(Permission.DELETE) ?1:0)" />
        </div>
        <div class="table">
            <table id="table" data-row-style="rowStyle">
            </table>
        </div>

        <div id="modalSearch">
            @RenderPage("Search.cshtml")
        </div>

        <div id="box-detail">
            @*@RenderPage("Add.cshtml")*@
        </div>
    </div>
</div>