@{
    var video = ViewBag.Video;
}
@if (video != null)
{
    <section class="parallax0 parallax100" style="background-image: url(@video.ContentUrl);">
        <div class="overlay0 p-t-190 p-b-200">
            <div class="flex-col-c-m p-l-15 p-r-15">
                <span class="m-text9 p-t-45 fs-20-sm">
                    @video.Title
                </span>

                <h3 class="l-text1 fs-35-sm">
                    @video.Description
                </h3>

                <span class="btn-play s-text4 hov5 cs-pointer p-t-25" data-toggle="modal" data-target="#modal-video-01">
                    <i class="fa fa-play" aria-hidden="true"></i>
                    Play Video
                </span>
            </div>
        </div>
    </section>
    <!-- Modal Video 01-->
    <div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" data-dismiss="modal">
            <div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>
            <div class="wrap-video-mo-01">
                <div class="w-full wrap-pic-w op-0-0">
                    <img src="@video.ContentUrl" alt="@video.Title">
                </div>
                <div class="video-mo-01">
                    @Html.Raw(video.Link)
                </div>
            </div>
        </div>
    </div>
}

