@using webNews.Domain.Entities
@{
    var listEvents = Page.Model;
}
<!-- Gói sự kiện -->
<section class="newproduct bgwhite p-t-45 p-b-105">
    <div class="container">
        <div class="sec-title p-b-60">
            <h3 class="m-text5 t-center">
                Gói sự kiện
            </h3>
        </div>

        <!-- Slide2 -->
        <div class="wrap-slick2">
            <div class="slick2">
                @if (listEvents!=null && listEvents.Count > 0)
                {
                    foreach (var best in listEvents)
                    {
                        <div class="item-slick2 p-l-15 p-r-15">
                            <!-- Block2 -->
                            <div class="block2">
                                <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                                    <a href="@Url.Action("Detail", "News", new {@event_short_name = best.ShortName})" data-id="@best.Id" data-name="@best.Title" class="block2-name dis-block s-text3 p-b-5">
                                        <img data-src="@best.Image" class="lazy-loading" alt="@best.Title">
                                    </a>
                                </div>
                                <div class="block2-txt p-t-20">
                                    <a href="@Url.Action("Detail", "News", new {@event_short_name = best.ShortName})" data-id="@best.Id" data-name="@best.Title" class="block2-name dis-block s-text3 p-b-5">
                                        @best.Title
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

    </div>
</section>