@{
    var listBestSeller = ViewBag.ListBestSeller;
    var listSales = ViewBag.ListSales;
    var listTopRate = ViewBag.ListTopRate;
    var listEvents = ViewBag.ListEvents;
}

<!-- Slide1 -->
@RenderPage("_SlidePartial.cshtml")

<!-- Banner -->
@RenderPage("_BannerPartial.cshtml")

<section class="bgwhite p-t-45 p-b-58">
    <div class="container">
        <div class="sec-title p-b-22">
            <h3 class="m-text5 t-center">
                SẢN PHẨM THUÊ
            </h3>
        </div>

        <!-- Tab01 -->
        <div class="tab01">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#best-seller" role="tab">Bán chạy nhất</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#sale" role="tab">Nhiều lượt xem nhất</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#top-rate" role="tab">Nhiều lượt thích nhất</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content p-t-35">
                <!-- - -->
                <div class="tab-pane fade show active" id="best-seller" role="tabpanel">
                    <div class="row">
                        @if (listBestSeller.Count > 0)
                        {
                            foreach (var best in listBestSeller)
                            {
                        <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                            <!-- Block2 -->
                            <div class="block2">
                                <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                                    <img data-src="@Url.Content("~/Content/Cate/" + Path.GetFileName(best.Avatar))" alt="@best.ShortName" class="lazy-loading">

                                    <div class="block2-overlay trans-0-4">
                                        <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                            <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                            <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                        </a>

                                        <div class="block2-btn-addcart w-size1 trans-0-4">
                                            <!-- Button -->
                                            <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                                Thêm vào giỏ hàng
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="block2-txt p-t-20">
                                    <a href="@Url.Action("Detail", "Category", new {@shortname = best.ShortName})" data-id="@best.Id" data-name="@best.Name" class="block2-name dis-block s-text3 p-b-5">
                                        @best.Name
                                    </a>

                                    @*<span class="block2-price m-text6 p-r-5">
                                            $75.00
                                        </span>*@
                                </div>
                            </div>
                        </div>
                            }
                        }
                    </div>
                </div>

                <!-- -->
                <div class="tab-pane fade" id="sale" role="tabpanel">
                    <div class="row">
                        @if (listSales.Count > 0)
                        {
                            foreach (var best in listSales)
                            {
                        <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                            <!-- Block2 -->
                            <div class="block2">
                                <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                                    <img data-src="@Url.Content("~/Content/Cate/" + Path.GetFileName(best.Avatar))" alt="@best.ShortName" class="lazy-loading">

                                    <div class="block2-overlay trans-0-4">
                                        <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                            <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                            <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                        </a>

                                        <div class="block2-btn-addcart w-size1 trans-0-4">
                                            <!-- Button -->
                                            <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                                Thêm vào giỏ hàng
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="block2-txt p-t-20">
                                    <a href="@Url.Action("Detail", "Category", new {@id = best.Id})" data-id="@best.Id" data-name="@best.Name" class="block2-name dis-block s-text3 p-b-5">
                                        @best.Name
                                    </a>

                                    @*<span class="block2-price m-text6 p-r-5">
                                            $75.00
                                        </span>*@
                                </div>
                            </div>
                        </div>
                            }
                        }
                    </div>
                </div>

                <!-- -->
                <div class="tab-pane fade" id="top-rate" role="tabpanel">
                    <div class="row">
                        @if (listTopRate.Count > 0)
                        {
                            foreach (var best in listTopRate)
                            {
                        <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                            <!-- Block2 -->
                            <div class="block2">
                                <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                                    <img data-src="@Url.Content("~/Content/Cate/" + Path.GetFileName(best.Avatar))" alt="@best.ShortName" class="lazy-loading">

                                    <div class="block2-overlay trans-0-4">
                                        <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                            <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                            <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                        </a>

                                        <div class="block2-btn-addcart w-size1 trans-0-4">
                                            <!-- Button -->
                                            <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                                Thêm vào giỏ hàng
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="block2-txt p-t-20">
                                    <a href="@Url.Action("Detail", "Category", new {@id = best.Id})" data-id="@best.Id" data-name="@best.Name" class="block2-name dis-block s-text3 p-b-5">
                                        @best.Name
                                    </a>

                                    @*                                            <span class="block2-price m-text6 p-r-5">*@
                                    @*                                                $75.00*@
                                    @*                                            </span>*@
                                </div>
                            </div>
                        </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div style="float: right">
                <a class="btn btn-link" href="@Url.Action("Index", "Category")">Xem tất cả sản phẩm</a>
            </div>
        </div>
    </div>
</section>

<!-- Banner video -->
@RenderPage("_BannerVideoPartial.cshtml")
<!-- Blog -->
@RenderPage("_BlogPartial.cshtml", new { Model = listEvents })
<!-- Instagram -->
@*@RenderPage("_InstagramPartial.cshtml")*@
<!-- Shipping -->
@*@RenderPage("_ShippingPartial.cshtml")*@