@using webNews.HtmlHelpers
@model webNews.Common.Common.CheckOutModel
<style>
    .required {
        margin-left: 5px;
        color: red;
    }

    .field-validation-error span {
        color: red;
    }
</style>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <div class="content">
        <form id="check_out_form" name="check_out_form" class="form-horizontal" enctype="multipart/form-data" method="post" accept-charset="utf-8">
            <div class="form-horizontal">
                <h2>Đăng ký đơn hàng</h2>
                <hr />
                <div class="form-group">
                    <label class="col-xs-2 control-label">@Html.LabelFor(x => x.CustomerName)<span class="required">*</span></label>
                    <div class="col-xs-4">
                        @Html.ValidationHtmlMessageFor(model => model.CustomerName, "", new { @class = "field-validation-valid" })
                        @Html.TextBoxFor(x => x.CustomerName, new { @class = "form-control input-sm", @id = "txtCustomerName", @placeholder = "Họ tên" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">@Html.LabelFor(x => x.Phone)<span class="required">*</span></label>
                    <div class="col-xs-4">
                        @Html.ValidationHtmlMessageFor(model => model.Phone, "", new { @class = "field-validation-valid" })
                        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control input-sm", @id = "txtPhone", @placeholder = "Số điện thoại" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">@Html.LabelFor(x => x.ProvinceId)<span class="required">*</span></label>
                    <div class="col-xs-4">
                        @Html.ValidationHtmlMessageFor(model => model.ProvinceId, "", new { @class = "field-validation-valid" })
                        @Html.DropDownListFor(x => x.ProvinceId, new SelectList(Model.ListProvinces, "Id", "name"), "Chọn tỉnh/thành phố", new { @class = "form-control input-sm", @id = "txtProvinceId" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">@Html.LabelFor(x => x.DistrictId)<span class="required">*</span></label>
                    <div class="col-xs-4">
                        @Html.ValidationHtmlMessageFor(model => model.DistrictId, "", new { @class = "field-validation-valid" })
                        @Html.DropDownListFor(x => x.DistrictId, new SelectList(Model.ListDistricts, "Id", "name"), "Chọn quận/huyện", new { @class = "form-control input-sm", @id = "txtDistrictId" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">@Html.LabelFor(x => x.WardId)<span class="required">*</span></label>
                    <div class="col-xs-4">
                        @Html.ValidationHtmlMessageFor(model => model.WardId, "", new { @class = "field-validation-valid" })
                        @Html.DropDownListFor(x => x.WardId, new SelectList(Model.ListWards, "Id", "name"), "Chọn phường/xã", new { @class = "form-control input-sm", @id = "txtWardId" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2 control-label">@Html.LabelFor(x => x.Address)<span class="required">*</span></label>
                    <div class="col-xs-4">
                        @Html.ValidationHtmlMessageFor(model => model.Address, "", new { @class = "field-validation-valid" })
                        @Html.TextBoxFor(x => x.Address, new { @class = "form-control input-sm", @id = "txtAddress", @placeholder = "Nhập địa chỉ" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label"></label>
                    <div class="col-xs-4">
                        <button id="btnRegis" class="btn btn-primary"><i class="fa fa-check"></i>Đặt hàng</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script src="~/Theme/vendors/Jquery/jquery-1.11.3.min.js"></script>
    <script src="~/Assets/Admin/Validate/jquery.validate.min.js"></script>
    <script src="~/Assets/Admin/Validate/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/checkout.js"></script>
}