@model webNews.Domain.Entities.Vw_Category
<!-- Block2 -->
<div class="block2">
    <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew" data-id="@Model.Id">
        <a href="@Url.Action("Detail", "Category", new {@rental_short_name=Model.ShortName })" class="block2-name dis-block s-text3 p-b-5">
            <img data-src="@Url.Content("~/Content/Cate/" + Path.GetFileName(Model.Avatar))" alt="@Model.ShortName" class="lazy-loading">
        </a>
        <div class="block2-overlay trans-0-4">
            <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
            </a>
            @if ((@Model.total_rental > 0))
            {
                <div class="block2-btn-addcart w-size1 trans-0-4">
                    <!-- Button -->
                    <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                        Thêm vào giỏ hàng
                    </button>
                </div>
            }
        </div>
    </div>

    <div class="block2-txt p-t-20">
        <a href="@Url.Action("Detail", "Category", new {@rental_short_name=Model.ShortName })" class="block2-name dis-block s-text3 p-b-5">
            @Model.Name
        </a>
    </div>
</div>