@using PagedList.Mvc
@using webNews.Models.CategoryManagement
@model PagedList.IPagedList<webNews.Domain.Entities.Vw_Category>

@{
    var controller = ViewContext.RouteData.Values["Controller"].ToString();
    var action = ViewContext.RouteData.Values["Action"].ToString();
    var type = Convert.ToInt32(ViewBag.CategoryType);
    var group = Convert.ToInt32(ViewBag.Group);
    var listGroups = ViewBag.ListGroups;
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!-- Title Page -->
<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url(/Theme/fashe-colorlib/images/heading-pages-02.jpg);">
    <h2 class="l-text2 t-center">
        Women
    </h2>
    <p class="m-text13 t-center">
        New Arrivals Women Collection 2018
    </p>
</section>


<!-- Content page -->
<section class="bgwhite p-t-55 p-b-65">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <div class="leftbar p-r-20 p-r-0-sm">
                    <form id='form-filter' action="@Url.Action("Index","Category")" method="get">
                        <!-- -->
                        <h4 class="m-text14 p-b-7">
                            Nhóm sản phẩm
                        </h4>
                        @if (listGroups.Count > 0)
                        {
                            <select class="form-control" name="Group" id="Group" onchange=" $('#form-filter').submit(); ">
                                <option value="-1">Tất cả</option>
                                @foreach (var gr in listGroups)
                                {
                                    <option value="@gr.Id" @(gr.Id == group ? "selected" : "")>@gr.Name</option>
                                }
                            </select>
                        }

                        <!-- -->
                        <div class="form-group">
                            <h4 class="m-text14 p-b-7">
                                Danh mục sản phẩm
                            </h4>
                            <select class="form-control" name="CategoryType" id="CategoryType" onchange="$('#form-filter').submit();">
                                <option value="-1" @(type == -1 ? "selected" : "")>Tất cả</option>
                                <option value="1" @(type == 1 ? "selected" : "")>Từ 0-12 tháng</option>
                                <option value="2" @(type == 2 ? "selected" : "")>Từ 1-3 tuổi</option>
                                <option value="3" @(type == 3 ? "selected" : "")>Trên 3 tuổi</option>
                            </select>
                        </div>
                        <!-- -->
                        <h4 class="m-text14 p-b-32">
                            Lọc theo
                        </h4>


                        <div class="search-product pos-relative bo4 of-hidden">
                            <input class="s-text7 size6 p-l-23 p-r-50" type="text" name="Name" placeholder="Nhập tên sản phẩm..." onchange="$('#form-filter').submit();">

                            <button class="flex-c-m size5 ab-r-m color2 color0-hov trans-0-4">
                                <i class="fs-12 fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
                <!-- -->
                @*<div class="flex-sb-m flex-w p-b-35">
                        <div class="flex-w">
                            <div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">
                                <select class="selection-2" name="sorting">
                                    <option>Default Sorting</option>
                                    <option>Popularity</option>
                                    <option>Price: low to high</option>
                                    <option>Price: high to low</option>
                                </select>
                            </div>

                            <div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">
                                <select class="selection-2" name="sorting">
                                    <option>Price</option>
                                    <option>$0.00 - $50.00</option>
                                    <option>$50.00 - $100.00</option>
                                    <option>$100.00 - $150.00</option>
                                    <option>$150.00 - $200.00</option>
                                    <option>$200.00+</option>

                                </select>
                            </div>
                        </div>

                        <span class="s-text8 p-t-5 p-b-5">
                            Showing 1–12 of 16 results
                        </span>
                    </div>*@

                <!-- Product -->
                <div class="row">
                    @if (Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
                                <!-- Block2 -->
                                <div class="block2">
                                    <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew" data-id="@item.Id">
                                        <img src="@Url.Content("~/Content/Cate/" + Path.GetFileName(item.Avatar))" alt="IMG-PRODUCT">

                                        <div class="block2-overlay trans-0-4">
                                            <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                                <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                                <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                            </a>

                                            <div class="block2-btn-addcart w-size1 trans-0-4">
                                                <!-- Button -->
                                                <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                                    Thêm vào giỏ hàng
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="block2-txt p-t-20">
                                        <a href="@Url.Action("Detail", "Category", new { @id = item.Id })" class="block2-name dis-block s-text3 p-b-5">
                                            @item.Name
                                        </a>

                                        @*                                        <span class="block2-price m-text6 p-r-5">*@
                                        @*                                            $75.00*@
                                        @*                                        </span>*@
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <h5>Không có sản phẩm nào</h5>
                        </div>
                    }

                </div>

                <!-- Pagination -->
                <div style="float: right">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, Group = @group, CategoryType = @type }))
                </div>
            </div>
        </div>
    </div>
</section>

<!--===============================================================================================-->
@*<script type="text/javascript" src="/Theme/fashe-colorlib/vendor/noui/nouislider.min.js"></script>*@
<script type="text/javascript">
    /*[ No ui ]
    ===========================================================*/
    var filterBar = document.getElementById('filter-bar');

    noUiSlider.create(filterBar, {
        start: [50, 200],
        connect: true,
        range: {
            'min': 50,
            'max': 200
        }
    });

    var skipValues = [
    document.getElementById('value-lower'),
    document.getElementById('value-upper')
    ];

    filterBar.noUiSlider.on('update', function (values, handle) {
        skipValues[handle].innerHTML = Math.round(values[handle]);
    });
</script>